<p class="container">
  <h1 class="page-header">   In-Ear Headphones:</h1>
  Wear these JBL earbuds and earphones with confidence, as they are built for premium sound, for your iPhone and Android smartphones with built-in microphones.Hear the truth from your favorite artists with high-performance drivers that generate outstanding frequency response and pure bass that is deep, powerful and accurate.
</p>
<div class="container">
{{#each model as |inear|}}
  {{headset-listing headset=inear routeName="in-ear.show"}}
{{/each}}
</div>
  {{outlet}}
