<p class="container">
  <h1>   Over-Ear & On-Ear Headphones:</h1>
  On-ear and over-ear stereo headphones with wireless Bluetooth technology, advanced DSP, and built-in microphones for iOS and Android devices.Drawing on expertise from some of the finest loudspeakers in the world, JBL engineers created lightweight, over-ear headphones with uncompromising JBL sound.
</p>
<div class="container">
{{#each model as |onear|}}
{{headset-listing headset=onear routeName="on-ear.show"}}
{{/each}}
</div>
<div class="container-inverse bg-inverse">
  {{outlet}}
</div>
