<div class="media jumbotron">
  <img class="d-flex col rounded" src="https://andertons.scdn2.secure.raxcdn.com/2/1/images/catalog/i/xl_52036-tmpA704.jpg" alt="jbl-logo" style="width:100px; height=200px;">
  <div class="media-body align-self-center">
  <h1 class="display-3">About Author</h1>
  <hr>
  <p class="lead">
    Hello, I'm the author of this app.<br>
    Headphones are best invention by mankind. They make the audiophiles complete. <br>So I developed this app only to help the people who is fond of music and
    interested in headphones and they are audiophiles.
  </p>
</div>
</div>
{{outlet}}
