{{outlet}}
<div class="jumbotron panel panel-info text-center">
      <div class="panel-heading"><p class="h1 panel-title">Contact Details:</p></div>
      <p class="panel-body lead">
        S. Arunjunai Rajan,<br>
        S/O, N. Senthil Kumar<br>
        55/28, Andikinar Street,<br>
        Virudhunagar<br>
        626001<br>
        Ph.no: 9488368970<br><br></p>
</div>
