<div class="jumbotron container text-center">
  <h1>JBL Headphones</h1><hr>
  <h3> JBL Headphones: No.1 in India!!!!</h3><br>
  <div class="container">
    <img class="mt-4 d-block rounded container-fluid" width=600 src="http://www.nighthelper.com/wp-content/uploads/2016/07/JBL-Logo-2_thumb4.png"><br>
  <p class="container">
    <h2>Hear the truth</h2>
    From the stage, to the car, to the home, listen on anything less than JBL, and you're not hearing the truth</p>
    <hr>
    <a href="/headsets" class="btn btn-warning"><h2>Headphones</h2></a>
    <p class="my-3">#DareToListen to JBL headphones with premium drivers that generate pure, accurate, extended bass - competing products simply cannot match it.We have two kinds of headphoness
 </p>
 <div class="btn-group btn-group-lg">
 <a href="/in-ear" class="btn btn-success">In-ear Headphones</a>
 <a href="/on-ear" class="btn btn-danger">On-ear Headphones</a>
 </div>
</div>

</div>
 {{outlet}}
